body{
    margin: 0;
    padding: 0;
    text-align: center;
    color:rgba(255, 255, 255, 0.6);
    overflow: hidden;
}

::selection{
    background:rgba(88,87,85,1);
    color:white
}
.ui-tooltip {
    background-color: rgba(0, 0, 0, 0.5);
    color:white;
	font-size: 0.5rem;
	box-shadow: none;
}
#main a,#main a:active{
    color:rgba(255,255,255,0.2);
    text-decoration: none;
    transition: all .3s;
}
#main a:hover{
    color:rgba(255,255,255,0.5);
    transition: all .3s;
}
#mainContainer{
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
}
#FF,#TRPG{
    width: 0;
    min-height: 100vh;
    background-color: #383636;
}
#FFcontent,#TRPGcontent{
    padding-top: 2rem;
    opacity: 0;
}
#FFcontent .caption{
    margin-top: 5rem;
    font-size: 16px;
}
#FFcontent>img{
    margin-top: 0rem;
}
#TRPGcontent{
    position: relative;
}
#TRPGcontent .caption p{
    margin-top: 5rem;
    font-size: 16px;
}
@media(max-width: 480px){
    #TRPGcontent .caption p{
        font-size: 0.5rem;
    }
}
#adventureplate{
    max-width: 75%;
}
@media(max-width: 480px){
    #adventureplate{
        position: relative;
        left: -2.5rem;
        top:6rem;
        max-width: 100vw;
        transform: rotate(-90deg);
    }
    #FFcontent .adr{
        position: relative;
        top: 10rem;
        padding: 0.5rem 0.8rem;
    }
}
#main{
    background: linear-gradient(180deg, rgba(88,87,85,1) 0%,  rgba(88,87,85,0.4) 100%);
    width: 100vw;
    min-height: 100vh;
}
#main>*{
    position: relative;
    top:30vh;
}
#main img{
    max-width: 150px;
    min-width: 50px;
    border-radius: 300px;

}
#main p span{
    margin: 10px;
}
#toFF,#toTRPG{
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    color:rgba(255,255,255,0.2);
    transition: all .3s;
    display: inline-block;
    cursor: default;
}
#toFF:hover,#toTRPG:hover{
    color:rgba(255,255,255,0.8);
    transition: all .3s;
}
@media(max-width: 1024px){
    #toFF,#toTRPG{
        font-size: 1rem;
        color:rgba(255,255,255,0.2);
        transition: all .3s;
        padding: 0.7rem;
    }
    #main img{
        max-width: 100px;
        min-width: 50px;
        border-radius: 300px;
    
    }
}

@media(max-width: 480px){
    #toFF,#toTRPG{
        font-size: 1rem;
        color:rgba(255,255,255,0.2);
        transition: all .3s;
        margin: 0;
    }
    #main img{
        max-width: 60px;
        min-width: 30px;
        border-radius: 300px;
    }
}

#cleared{
    position: relative;
    margin: 2rem 0;
    display: flex;
    left: -1em;
}
input[type="radio"] {
    position: absolute;
    left: -9999px;
  }

  .filters {
    position: relative;
    top: 1em;
    left: -1em;
    margin: 0;
    width: 130px;
  }
   
  .filters * {
    display: inline-block;
  }
  .filters label {
    color:white;
    transform: rotate(-90deg);
    text-align: center;
    background: linear-gradient(90deg, #7c7c7c 0%,#595656 40%, #3EA0CD 100%);
    background-position: 1% 50%;
    background-size: 200% auto;
    margin-bottom: 5rem;
    width: 60px;
    padding: 0.8em 2em;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    transition: 0.3s ease;
    opacity: 0.9;
    position: relative;
    top:1.5rem
  }
   
  .filters label:hover {
    background-position: 50% 50%;
    cursor: default;
    opacity:1;
  }  
  [value="All"]:checked ~ #scenarioBG #scenarioDiv[data-category] {
    display: block;
  }
    [value="2022"]:checked ~ #scenarioBG #scenarioDiv .clearedScenario:not([data-category~="2022"]),
    [value="2021"]:checked ~ #scenarioBG #scenarioDiv .clearedScenario:not([data-category~="2021"]),
    [value="KP"]:checked ~ #scenarioBG #scenarioDiv .clearedScenario:not([data-category~="KP"]) {
        display: none;
}
[value="All"]:checked ~ .filters [for="All"],
[value="2022"]:checked ~ .filters [for="2022"],
[value="2021"]:checked ~ .filters [for="2021"],
[value="KP"]:checked ~ .filters [for="KP"]{
    background-position: 100% 50%;
}

#scenarioBG{
    border-radius: 0 2em 0 0;
    position: relative;
    left: -3.5rem;
    padding: 3rem;
    padding-left: 4rem;
    text-align: left;
    background-color: #2b2a2a;
    column-count: 3;
    min-height: 50vh;
    min-width: 65vw;
}

@media(max-width: 1024px){
    #scenarioBG{
        position: relative;
        left: -3.5rem;
        padding: 1rem 2rem;
        text-align: left;
        background-color: #2b2a2a;
        min-width: 57vw;
        max-height: 70vh;
        column-count: 1;
    }
    #scenarioDiv{
        height: 70vh;
        overflow: hidden;
        overflow-y: visible;
    }
}
@media(max-width: 480px){
    #cleared{
        margin: 1rem;
        transform: scale(0.85);
        position: relative;
        top: -3.5rem;
        left: -4.5rem;
        width: 90vw;
    }
        #scenarioBG{
        position: relative;
        left:-3.5rem;
        padding: 1.5rem;
        text-align: left;
        background-color: #2b2a2a;
        column-count: 1;
    }
    #scenarioDiv{
        height: 70vh;
        overflow: hidden;
        overflow-y: visible;
    }
}
p>a{
    color:rgba(255, 255, 255, 0.6);
    transition: .3s ease;
    text-decoration: none;
}
p>a:hover{
    color:white;
}

.linktobox{
    position: relative;
    top: 2rem;
    margin-top: 5rem;
    margin-right: 1rem;
    background-color: white;
    padding: 0.7rem;
    border-radius: 5px;
    color:#383636;
    text-decoration: none;
    transition: .3s ease;
}
.linktobox:hover{
    background-color: rgba(255, 255, 255, 0.568);
    color:#3836368e;
}
#FFcontent .linktobox{
    margin-right: 0;
}
@media(max-width: 480px){
    .linktobox{
        position: relative;
        top: 2rem;
        margin-top: 2rem;
        background-color: white;
        padding: 0.5rem;
        border-radius: 5px;
        font-size: 0.5rem;
        color:#383636;
    }
    .linktobox:hover{
        background-color: rgba(255, 255, 255, 0.568);
        color:#3836368e;
    }
}